
/* Calculator */


*{
    font-family:'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    outline: none; border:none;

}

:root{
    --main-color:#107869;
    --black:#222;
    --white:#fff;
    --light-black:#777;
    --light-white:#fff9;
    --dark-bg:rgba(0,0,0,.7);
    --light-bg:#eee;
    --border:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
 }


 html::-webkit-scrollbar{
    width: 1rem;
 }
 
 html::-webkit-scrollbar-track{
    background-color: var(--white);
 }
 
 html::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
 }


.container {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 1.8em;
    font-style: Tahoma;
}

table {
    margin: 30px auto;
    width: 100%;
    max-width:1450px;
	border-style: groove;
    border-radius: 10px;
}

th, td {
    padding: 10px;
    text-align: center;
	border: 2px solid white;
	background-color: rgb(229, 221, 221);
}

th {
    background-color:#107869;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

input[type=text], input[type=number] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
}

input[type=submit] {
    background-color:#107869;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--black);
}

.error {
    color: red;
    font-weight: bold;
}

